[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "0.23.4"
spacy = "2.0.12"
ipykernel = "5.0.0"
jupyter = "1.0.0"
matplotlib = "3.0.0"
scikit-learn = "0.20.0"
pytest = "3.8.2"
pytest-watch = "4.2.0"
nbdime = "1.0.2"

[dev-packages]
pylint = "2.1.1"
"autopep8" = "1.4.2"

[requires]
python_version = "3.6"

[scripts]
notebook = "jupyter notebook"
test = "pytest eda/classify_cause_area"
test-watch = "ptw eda/classify_cause_area"
nbdiff = "nbdime diff-web "
